<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, nofollow"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # ==========================================
  # 1. FORCER LE HTTPS (Optimisé OVH)
  # ==========================================
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# ==========================================
# 2. SÉCURITÉ ET FALLBACK (404 & 403)
# ==========================================
Options -Indexes

ErrorDocument 404 https://useritium.fr/404
ErrorDocument 403 https://useritium.fr/403
